
body{
    margin:0;
    padding:0;
    background-color: #eaf1ef;
    font-family: 'Open Sans', sans-serif;
}

.menu-item{
    background-position: center;
    height:100px;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

.menu-item.active {
    display: block !important;
}

.menu-item .bottom-bar{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #009688;
    display: none;
}

.menu-item.active .bottom-bar, .menu-item:hover .bottom-bar{
    display: block;
}

#menuHeader .headline {
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px rgba(0,0,0,.2);
}

.mobile-menu{
    transition: .2s height;
    overflow: hidden;
}

.mobile-menu.closed{
    height: 40px;

}

.mobile-menu.open{
    height: 120px;
}

.mobile-menu-item {
    width: 100%;
    height: 40px;
    float: none;
    color: #eaf1ef;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 38px;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    background-color: #243743;
}

.mobile-menu-item.active{
    width: 100%;
    color: #eaf1ef;
    height: 40px;
    background-color: #009688;
    display: block;
    border-bottom: 1px solid #eaf1ef;
}

.mobile-menu-item.active:after {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid #fff;
    position: absolute;
    left: 90%;
    top: 15px;
}

.mobile-menu.open .mobile-menu-item.active:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #fff;
    border-top: none;
}

.line{
    width: 0px;
    border-right: 1px solid #009688;
    height: calc(100% - 65px);
    position: absolute;
    left:8%;
    top: 65px;
}

.dashed-line{
    width: 0px;
    border-right: 1px dashed #009688;
    height: 50px;
    position: absolute;
    left: 8%;
    bottom: -50px;
}

.article-block{
    display: none;
}

.timeline{
    position: relative;
}

.timeline-article{
    width: 75%;
    -webkit-box-shadow: 0 1px 1px 0 #a2a2a2;
    -moz-box-shadow: 0 1px 1px 0 #a2a2a2;
    box-shadow: 0 1px 1px 0 #a2a2a2;
    padding: 1em;
    margin-top: 30px;
    float: right;
    margin-right: 15px;
}

.title{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    line-height: 20px;
}

.timeline-article p {
    font-size:14px;
    line-height:16px;
}

.timeline-article p a {
    color: #009688;
    font-size: 12px;
    font-weight: 600;
}

.row{
    max-width: 866px;
}

.arrow-box {
    position: relative;
    background: #fff;
}
.arrow-box:after, .arrow-box:before {
    top: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    right: 100%;
}

.arrow-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 12px;
    margin-top: -12px;
}
.arrow-box:before {
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #a2a2a2;
    border-width: 13px;
    margin-top: -12px;
}

.time-stamp{
    position: absolute;
    left: -25%;
    top: 10px;
    height:45px;
    width:45px;
    text-align: center;
    padding: 6px 4px;
    line-height: 16px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: #d4dedb;
    color: #304d5c;
}

.day {
    font-size: 18px;
    font-weight: 700;
    color: #304d5c;
}

.month {
    color: #009688;
    font-size: 10px;
    margin-top: 2px;
    padding-left: 2px;
}



.dot{
    position: absolute;
    top: 24px;
    left: -20%;
    margin-left: .5%;
    width: 11px;
    height: 11px;
    background: #eaf1ef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #009688;
}

@media screen and (min-width: 40em) {

    .timeline-article:nth-child(even) .time-stamp{
        right: -17%;
        left: inherit;
    }

    .timeline-article:nth-child(odd) .time-stamp{
        left: -17%;
        right: inherit;
    }


    .mobile-menu{
        display: none;
    }

    .timeline-article{
        width: 90%;
        margin-right: 0;
    }

    .timeline-article:nth-child(odd) {
        float: right;
        margin-top: -30%;
    }
    .timeline-article:nth-child(even) {
        float: none;
    }

    .timeline-article:nth-child(odd) .dot{
        left: -12%;
        margin-left:-.5%;
    }

    .arrow-box:nth-child(even):after{
        right: 100%;
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #fff;
    }

    .arrow-box:nth-child(even):before{
        right: 100%;
        border-color: rgba(204, 204, 204, 0);
        border-left-color: #a2a2a2;
    }

    .arrow-box:nth-child(even):after{
        left: 100%;
    }

    .arrow-box:nth-child(even):before{
        left: 100%;
    }

    .timeline-article {
        width: 45%;
    }


    .line{
        left: 50%;
    }

    .dashed-line{
        left: 50%;
    }
}



